<div id="<%= dom_id post %>">
  <p>
    <strong>Pb price:</strong>
    <%= post.pb_price %>
  </p>

  <p>
    <strong>Diesel price:</strong>
    <%= post.diesel_price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <p>
    <strong>Petrol station:</strong>
    <%= post.petrol_station_id %>
  </p>

</div>
