<p style="color: green"><%= notice %></p>

<%= render @petrol_station %>



<%# <div> %>
  <%# <%= link_to "Edit this petrol station", edit_petrol_station_path(@petrol_station) %> 
  <%# <%= link_to "Back to petrol stations", petrol_stations_path %>

  <%# <%= button_to "Destroy this petrol station", @petrol_station, method: :delete %>
<%# </div> %>
