<p id="notice"><%= notice %></p>

<h1><%= @post_date.title %> by <%= link_to @post_date.user.name, @post_date.user %></h1>
<h2><%= link_to @petrol_station.name, @petrol_station %></h2>

<hr>
<h1>Lista odpowiedzi</h1>
<% if @post_date.posts.length == 0 %>
  Nie ma żadnych odpowiedzi
<% else %>
  <ul>
  <% @post_date.posts.each do |post| %>
    <li>
      <strong><%= post.user.name %> pisze:</strong> <%= post.body %>
    </li>
  <% end %>
  </ul>
<% end %>

<hr>

<% if logged_in? && current_user.follows?(@petrol_station) %>
  <%= link_to "Dodaj odpowiedź", new_petrol_station_post_date_post_path(@petrol_station,@post_date) %>
<% end %>

<hr>

<%= link_to 'Edit', edit_petrol_station_post_date_path(@petrol_station, @post_date) %> |
<%= link_to 'Back', @petrol_station %>