<p id="notice"><%= notice %></p>

<h1><%= @post_date.title %>
<h2><%= link_to @petrol_station.name, @petrol_station %></h2>



<%= link_to 'Edit', edit_petrol_station_post_date_path(@petrol_station, @post_date) %> |
<%= link_to 'Back', @petrol_station %>